.adoption-section {
    padding: 0;

    font-family: 'Eurostile', sans-serif;
    overflow-x: auto;
}

.heading {
    font-size: 2rem;
    font-weight: 600;
    position: absolute;
    top: 44rem;
    left: 4.2rem;
}

.pet-list {
    display: flex;
    flex-direction: row;
    padding-top: 2rem;
    gap: 1.5rem;
}

.adoption-section::-webkit-scrollbar {
  height: 0px;
}