.leaflet-container {
    width: 100%;
    height: 100%;

    border-radius: 0.25rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.leaflet-popup-content-wrapper{
    width: 0;
    height: 0;
    padding: 0;
}

.leaflet-popup-content-wrapper p{
  margin: 4px 0px;
}
.leaflet-popup-content {
    width: 12rem;
    color: white;
    background-color: #2B2C3F;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.leaflet-popup-tip, .leaflet-popup-close-button{
  width: 0;
  height: 0;
}

.leaflet-container .leaflet-tooltip {
    font-weight: 400;
    border-radius: 0.5rem;

    padding: 0.25rem 1rem;
    background-color: #2B2C3F;
    color: white;
}

.leaflet-container .leaflet-tooltip-bottom:before {
  content: "";
  position: absolute;
  top: 0px;            
  left: 50%;
  margin-left: -6px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-bottom-color: #2B2C3F !important;
}

.custom-dog-icon {
    font-size: 30px;
    color: #2B2C3F;
}
.custom-user-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8479FE;
  color: white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: 3px solid #ffffff;
  box-shadow: 0 0 8px rgba(132, 121, 254, 0.6);
  animation: pulse 1.5s infinite;
}

.custom-user-icon i {
  font-size: 40px;
  line-height: 1;
  position: relative;
  left: 0%;
  top: -60%;
  -webkit-text-stroke: 2px black;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(132, 121, 254, 0.5);
  }
  70% {
    box-shadow: 0 0 0 15px rgba(132, 121, 254, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(132, 121, 254, 0);
  }
}