.pet-card {
    position: relative;
    display: inline-block;
    min-width: 300px;
    min-height: 400px;

    backdrop-filter: blur(20px);

    overflow: hidden;
    transition: 0.2s all;
}

.pet-image {
    position: absolute;
    top: 50%;
    left: 50%;

    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;

    transform: translate(-50%, -50%);
    object-fit: contain;
    display: block;
}

.pet-card:hover {
    cursor: pointer;
    transform: scale(1.05);
    border-radius: 1rem;
}

.pet-overlay {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 100%;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background: linear-gradient(to top, rgba(0,0,0,0.7) 10%, rgba(0,0,0,0) 60%);
}

.pet-info {
    position: absolute;
    bottom: 80px;
    left: 20px;
}

.pet-name {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 0;
}

.pet-age {
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 0.25rem;
}

.pet-contact {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    text-align: center;
    width: 90%;
    opacity: 0.8;

    font-size: 0.8rem;
    font-weight: 400;
}