.page-heading {
    height: 20vh;
    margin-bottom: 4rem;
    
    align-items: center;
    justify-content: center;
}

p.title {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 4rem;
    text-align: center;

    text-shadow: 0px 0px 100px black;
    -webkit-text-stroke: 0.5px white; 
}
p.title i{
    text-shadow: 0px 0px 500px black;
}
p.tagline {
    font-family: 'Lora', serif;
    font-size: 1.1rem;
    text-align: center;

    text-shadow: 0px 0px 100px black;
}


.main {
    background-color: #2B2C3F;
    color: white;

    font-size: 1rem;
    font-weight: 400;

    width: 60vw;
    height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.btn-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 1rem;
    font-size: 1rem;
}

.btn-section p {
    margin-bottom: 0;
    padding-bottom: 0;
}

.rescue-btn {
    stroke: #001E2B;
    fill: #001E2B;
    font-size: 1.2rem;
    font-weight: 400;

    line-height: 1rem;

    border: 1px solid #001E2B;
    padding: 1rem 1.5rem;
    border-radius: 0.25rem;

    transition: all .30s;
}

.rescue-btn:hover {
    border-radius: 1rem;
    cursor: pointer;
    background: linear-gradient(to right, white 0%, #EBE5D7 100%);
}

.map-container {
    width: 100%;
    height: 100%;
}