* {
    font-family: 'Eurostile', sans-serif;
    margin: 0;
}

.page {
    background-color: #2B2C3F;
    color: white;
    margin: 0;

    /* font-family: 'Eurostile', sans-serif; */

    display: flex;
    flex-direction: column;

    padding: 0;
}

.rsc-section, .adp-section {
    
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;

    padding: 4rem;
}

.rsc-section {
    /* background-color: #8479FE; */
    /* background-color: #EBE5D7; */
    background: linear-gradient(135deg, #EBE5D7 0%, #C8C2B6 100%);
    flex-direction: column;
    overflow: hidden;
    padding-bottom: 8rem;
}
.adp-section {
    background-color: #2B2C3F;
    color: white;

    padding-top: 6rem;
}